<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <title>bookmark</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

</head>
<body>
<div id="container">
<form action="/bookmark/export" method="post">
	<div class="wrap">
		<h2>Upload a file</h2>
        <div class="tablenav">
            <div class="alignleft">
                <input type="submit" class="button-secondary delete" name="exportit" value="export" onclick="return confirm('Do you really want to export selected bookmark?');" />
            </div>
            <br class="clear"/>
        </div>
        <table class="widefat">
            <thead>
                <tr>
                    <th class="check-column" scope="col"><input type="checkbox" onclick="$('input[name=exp]').attr('checked',this.checked);"/></th>
					<th>List Name</th>
                    <th>Book Mark Count</th>
                    <th>Upload Date</th>
                </tr>
            </thead>
            <tbody>
        {% for list in bookmarkLists %}
            <tr>
				<td  class="check-column" scope="row"><input type="checkbox" name="exp" value="{{ list.bookmarkList.key.id }}" /></td>
                <td>{{ list.bookmarkList.uploadFile|escape }}</td>
                <td>{{ list.count }}</td>
                <td>{{ list.bookmarkList.uploadTime|date:"Y-m-d H:i:s" }}</td>

            </tr>
        {% endfor %}
            </tbody>
        </table>
	</div>
</form>
</div>
<br />


</body>
</html>